@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/range-slider.css';
@import 'additional-styles/toggle-switch.css';
@import 'additional-styles/theme.css';

@import 'tailwindcss/utilities';

/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
    .rtl {
        direction: rtl;
    }
}

.bgimage {
    background-image: url(/images/bgimage.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto; /* Changed from 100vh to auto */
    min-height: 100vh; /* Ensures it covers the viewport but can expand */
    width: 100%;
    position: relative;
}

@media (max-width: 640px) { /* Example breakpoint for mobile devices */
    .bgimage {
        /* Adjustments for mobile */
        min-height: auto;
    }
}


body {
    --sb-track-color: #536b57;
    --sb-thumb-color: #afc8ad;
    --sb-size: 8px;
  }
  
  body::-webkit-scrollbar {
    width: var(--sb-size)
  }
  
  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 5px;
    
  }
  
  @supports not selector(::-webkit-scrollbar) {
    body {
      scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  }